<section class="filtros-top">
    <div class="div-perro">
    <a href="#">Perros</a>
    </div>
<section class="filtros-drop">
    <article class="filtros">
        <div class="dropdown">
            <button onclick="myFunction(this)" class="dropbtn" ><i class="fas fa-sliders-h"></i>  FILTRAR</button>
            <div class="dropdown-content">
              <a href="#">Perro</a>
              <a href="#">Gatos</a>
            </div>
          </div> 
    </article>
    <article class="filtros">
        <div class="dropdown">
            <button onclick="myFunction(this)" class="dropbtn"><i class="fas fa-list-ul"></i>  LISTA</button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
            </div>
          </div> 
    </article>
    <article class="filtros">
        <div class="dropdown">
            <button onclick="myFunction(this)" class="dropbtn"><i class="fas fa-filter"></i>  DORDENAR</button>
            <div class="dropdown-content">
              <a href="#"><i class="fas fa-sort-amount-down-alt"></i></a>
              <a href="#"><i class="fas fa-sort-amount-down"></i></a>
            </div>
          </div>
        </article>
      </section>
  </section>