
<footer class="footer">
    <div class="footer-container">
        <div class="footer-logonala">
            <img src="/images/logo.png" alt="Logo Nala">
        </div>
        <div class="footer-container-columnas">
            <div class="footer-columnas">
                <p class="footer-titulos"><strong>Ayuda</strong></p>
                <a class="footer-subtitulos">Como comprar</a>
                <a class="footer-subtitulos">Términos y condiciones</a>
                <a class="footer-subtitulos">Privacidad de datos</a>
            </div>
            <div class="footer-columnas">
                <p class="footer-titulos"><strong>Mi cuenta</strong></p>
                <a class="footer-subtitulos" href="../users">Ingresar</a>
                <a class="footer-subtitulos" href="../users/register">Registrarme</a>
            </div>
            <div class="footer-columnas">
                <p class="footer-titulos"><strong>Contacto</strong></p>
                <a class="footer-subtitulos">Contacto</a>
            </div>
            <div class="footer-columnas">
                <p class="footer-titulos"><strong>Seguinos en las redes</strong></p>
                <div class="footer-redes">
                    <a href="https://www.instagram.com/tu_usuario_de_instagram" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://www.facebook.com/tu_usuario_de_facebook" target="_blank">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                </div>
            </div>
            <div class="footer-columnas">
                <p class="footer-titulos"><strong>Creado por:</strong></p>
                <p class="footer-subtitulos">Grupo Seis</p>
            </div>
        </div>
    </div>
</footer>
    </body>
</html>