<!DOCTYPE html>
<html lang="es">
    <body>
        <footer>
            <div class="footer">
                <div>
                    <div>
                        <a href="/" class="link"><span class="link-point">•</span> Cómo comprar</a>
                        <a href="/" class="link"><span class="link-point">•</span> Términos y condiciones</a>
                    </div>
                    <br>
                    <div>
                        <a href="/" class="link"><span class="link-point">•</span> Privacidad de datos</a>
                        <a href="/" class="link"><span class="link-point">•</span> Contacto</a>
                    </div>
                </div>
                <br>
                <br>
                <div>
                    <a class="created-by">Creado con 💞 para Nala Pet Shop😻</a>
                </div>
            </div>
        </footer>
    </body>
</html>
