<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bienvenidxs a Nala PetShop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/8a1e4f48aa.js" crossorigin="anonymous"></script>
    <script src="/js/carrusel.js"></script>
    <script src="/js/Dropbutton.js"></script>

</head>

<body>
    <header>
        <div class="menu"><i class="fa-solid fa-bars" href="#"></i></div>
        <div class="top fb"><i class="fa-brands fa-facebook-square" href="www.facebook.com"></i></div>
        <div class="top instagram"><i class="fa-brands fa-instagram" href="www.instagram.com"></i></div>
        <a class="qs-contacto qs" href="#">Quienes Somos</a>
        <a class="qs-contacto contacto" href="#">Contacto</a>
        <a href="/"><img class="logo-superior" src="/images/logo.png" alt="Logo Nala"></a>
        <form  action="/products/search" method="GET">
            <input class="buscador" type="text" name="busqueda" placeholder="¿Qué estás buscando?">
            <div class="submit">
                <button value="search" action="/products/search" method="GET" class="submit fas fa-search"></button>
            </div>
        </form>
        <div class="ingresar"><a href="/user/login">Ingresar <i class="fa-solid fa-user" ></a></i></div>
        <div class="carro"><a href="/products/productCart" class="fa-solid fa-cart-shopping" href=""></a></div>
    </header>