<!DOCTYPE html>
<html class="not-found-html">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="not-found-body">
    <div class="not-found-picture">
        <img src="/images/pngwing.com.png">
        <div class="not-found-button"><a href="/"><button type="submit" value="entrar">Volver a la pagina de inicio</button></a></div>
    </div>
    <div class="container-image"><img class="not-found-image" src="/images/mascotas.jpg" alt="Not Found: Error 404"></div>
</body>
</html>