/* GLOBAL */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* BODY */

/* HEADER*/

body{
    font-family: "Roboto", sans-serif;
    background-color: #a49987;
}

header{
    background-color: #2f2822;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 10%;
    z-index:1000;
}

header div.top,
header a.qs-contacto{
    display:none;
}

header div.menu{
    position: relative;
    left: 30px;
}

header img.logo-superior{
    height: 100%;
    position: absolute;
    left: 33.5%;
}

header input.buscador{
    color: #2f2822;
    display: none;
}

header div.menu,
header div.ingresar,
header div.carro,
header div.submit{
    color: #f19827;
    cursor: pointer
}

header div.carro{
    position: absolute;
    right: 12%;
}

header div.submit{
    position: absolute;
    right: 34%;
}

header div.ingresar{
    position: absolute;
    right: 15%;
    display:none;
}

header div.ingresar:hover,
header div.carro:hover,
header div.menu:hover,
header div.submit:hover{
    color: #ffc962
    
}

header div.buscador{
    font-size: 12px;
}

/* END HEADER */

/* MAIN */

main{
    display:flex;
    flex-direction: column;
    padding-top: 76px;
    position: absolute;
    width: 100%;
}

/* Carrusel/Slider */
.slider{
    position: absolute;
    width: 100%;
    height: 164px;
    background-color: #a49987;;
}

.imagen{
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
}

.imagen img{
    height: 100%;
    position: relative;
    left:50%;
    transform: translateX(-50%);
}

.actual{
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 1s;
}

.texto {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 85%;
    color: white;
    font-weight: bold;
}

.slider a{
    position: absolute;
    text-decoration: none; 
    color: #f19827;
    font-size: 36px;
    top: 50%;
    transform: translateY(-50%);
}

.slider a:hover{
    color:#ffc962;
}

.siguiente{
    left:95%;
}

.boton {
    position: absolute;
    top: 90%;
    left: 90%;
}

.boton img{
    width: 20px;
    height: auto;
}

.puntos{
    position: absolute;
    top:93%;
    width: 100%;
    text-align: center;
}

.punto{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #f19827;
    border-radius: 50%;
    margin-right: 5px;
}

.activo{
    background-color: #ffc962;
}

.punto:hover{
    cursor: pointer;
    background-color: #ffc962;
}

/*Compra segura - Medios de pago - Envíos sin cargo*/

.compra-pagos-envios{
    background-color:#ffe59e;
    width: 100%;
    height: 450px;
    position: absolute;
    top:346%;
}

.compra-segura{
    height: 150px;
}

.compra-segura img{
    position: absolute;
    width: auto;
    height: 17%;
    top:6%;
    left:3%;
}

.titulo-cs{
    position: absolute;
    top: 6%;
    left: 28%;
    color:#196E12;
    font-weight: bold;
    font-size: 22px;
}

.cuerpo-cs{
    position: absolute;
    top:14%;
    left:28%;
    color:#196E12;
    font-size: 16px;
    line-height: 25px;
}

.medios-de-pago{
    height: 150px;
}

.medios-de-pago img{
    position: absolute;
    width: auto;
    height: 17%;
    top:37%;
    left:4%;
}

.titulo-mdp{
    position: relative;
    top: 13%;
    left: 28%;
    color:#196E12;
    font-weight: bold;
    font-size: 22px;
}

.cuerpo-mdp{
    position: absolute;
    top:45%;
    left:28%;
    color:#196E12;
    font-size: 16px;
    line-height: 25px;
}

.envios-sin-cargo{
    height: 164px;
}

.envios-sin-cargo img{
    position: absolute;
    width: auto;
    height: 18%;
    top:70%;
    left:3%;
}

.titulo-esc{
    position: relative;
    top: 13%;
    left: 28%;
    color:#196E12;
    font-weight: bold;
    font-size: 22px;
}

.cuerpo-esc{
    position: absolute;
    top:79%;
    left:28%;
    color:#196E12;
    font-size: 16px;
    line-height: 25px;
}

/* Categorías */

@keyframes cambioImagen{
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.categorias{
    position: absolute;
    width:100%;
    height: 500px;
    top: 915%;
}

@keyframes textoBajo {
    0% {
        opacity: 100%;
    }
    50% {
        transform: translateY(20px); opacity: 100%;
    }
    100% {
        opacity: 100%;
    }
}

.gato{
    position:relative;
    top:10%;
    left:2%;
    width: 45%;
    height: 29%;
    background-image: url('/images/gato-cuerpo.svg');
    background-size: contain;
    transition: background-image 0.3s;
    background-repeat: no-repeat;
}

.gato:hover{
    background-image: url('/images/gato-cara.svg');
    cursor:pointer;
}

.contenedor-gato{
    color:#2f2822;
    position: relative;
    bottom: 0%;
    right:1%;
    font-weight: bold;
    font-size: 20px;
    height: 101%;
    width: 97%;
}

.contenedor-gato:hover{
    animation: textoBajo 1s ease;
    animation-iteration-count: 1;
    animation-direction: reverse;
}

.texto-gato{
    color:#2f2822;
    position: absolute;
    top:100%;
    left:30%;
    font-weight: bold;
    font-size: 20px;
}

.perro {
    position: absolute;
    left:57%;
    top:10%;
    width: 40%;
    height: 29%;
    background-image: url('/images/perro-cuerpo.svg');
    background-size: contain;
    transition: background-image 0.3s;
    background-repeat: no-repeat;
}

.perro:hover{
    background-image: url('/images/perro-cara.svg');
    cursor:pointer;
}

.contenedor-perro{
    color:#2f2822;
    position: relative;
    bottom: 0%;
    left:1%;
    font-weight: bold;
    font-size: 20px;
    height: 101%;
    width: 97%;
}

.contenedor-perro:hover{
        animation: textoBajo 1s ease;
        animation-iteration-count: 1;
        animation-direction: reverse;
}

.texto-perro{
    color: #2f2822;
    position: absolute;
    top:105%;
    left:30%;
    font-weight: bold;
    font-size: 20px;
}

/* END MAIN */

/* FOOTER */

footer{
    background-color: #2f2822;
    display:flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top:158%;
}

.footer-div{
    display:flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom:20%;
    left:20%;
}

.footer-titulo{
    color:#f19827;
    font-weight: bold;
    font-size: 22px;
    margin-top: 30px;
}

.footer-cuerpo{
    color:#f19827;
    font-size: 16px;
    line-height: 35px;
    text-decoration: none;
}

.footer-fb{
    position: absolute;
    bottom:12%;
    left:31%;
    font-size: 30px;
    color: #f19827;
}

.footer-instagram{
    position: absolute;
    bottom:12%;
    right:31%;
    font-size: 30px;
    color: #f19827;
}

.footer-fb:hover,
.footer-instagram:hover{
    color:#ffc962;
    font-size: 35px;
}

.footer-cuerpo:hover{
    color:#ffc962;
    font-size: 20px;

}

.footer-logo{
    position: absolute;
    width: 25%;
    height: 12%;
    left:36%;
    top:6%;
}

.footer-boton{
    cursor:pointer;
    text-decoration: none;
    position: absolute;
    left:33%;
    bottom:2%;
    font-size: 25px;

}

.by{
    position: absolute;
    left:38%;
    bottom:7%;
    font-size: 18px;
}

@keyframes efectoGrupo{
    16.65% {
		transform: translateY(8px);
	}

	33.3% {
		transform: translateY(-6px);
	}

	49.95% {
		transform: translateY(4px);
	}

	66.6% {
		transform: translateY(-2px);
	}

	83.25% {
		transform: translateY(1px);
	}

	100% {
		transform: translateY(0);
	} 
}

.grupo-seis:hover{
        animation-name: efectoGrupo;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
    }

/* Tablets */
@media (min-width: 481px){ 
}

/* Laptops en adelante */
@media (min-width: 769px){
}

/* Computadoras de escritorio */
@media (min-width: 1280px){
    header input.buscador {
        display: flex;
        background-color: #FFF;
        border: 2px solid #000;
        color: #666;
        border-radius: 7px;
        width: 25%;
        height: 70%;
        position: absolute;
        right: 36%;
    }

    header div.menu{
        font-size: 20px;
    }

    header div.fb{
        display:flex;
        color: #f19827;
        position: absolute;
        left: 15.5%;
        font-size: 20px;
    }

    header div.instagram{
        display:flex;
        color:#f19827;
        position: absolute;
        left: 17%;
        font-size: 20px;
    }

    header a.qs-contacto:hover{
        font-size: 17px;
        color: #ffc962
    }
    header div.instagram:hover,
    header div.fb:hover,
    header div.menu i:hover,
    header div.submit:hover,
    header div.ingresar:hover,
    header div.carro:hover{
        color:#ffc962;
        font-size: 25px;
    }

    header a.qs-contacto{
        font-size: 15px;
        display: flex;
        color: #f19827;
        position: absolute;
        text-decoration: none;        
    }

    header a.qs{
        left:24%;
    }

    header a.contacto{
        left:30%;
    }

    header div.submit,
    header div.input,
    header div.menu i,
    header div.top i{
        display:flex;
        cursor: pointer;
    }

    header div.ingresar{
        position: absolute;
        right: 15%;
        display:flex;
    }

    header img.logo-superior{
        margin-right: 10px;
    }

    footer{
        background-color: #2f2822;
        display:flex;
        width: 100%;
        height: 120%;
        position: absolute;
        top:158%;
    }

    .categorias{
        position: absolute;
        width:100%;
        height: 500px;
        transform: translateY(-24%);
        left: 6%;
    }

    .gato{
    position:relative;
    top:32%;
    left:33%;
    width: 8%;
    height: 29%;
    background-image: url('/images/gato-cuerpo.svg');
    background-size: contain;
    transition: background-image 0.3s;
    background-repeat: no-repeat;
    }

    .perro {
    position: absolute;
    left:47%;
    top:32%;
    width: 8%;
    height: 29%;
    background-image: url('/images/perro-cuerpo.svg');
    background-size: contain;
    transition: background-image 0.3s;
    background-repeat: no-repeat;
    }

    .footer-div{
        display:flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        bottom:20%;
        left:44%;
    }

    .footer-fb {
        left:45%;
    }

    .footer-instagram {
        right:47%;
    }

    .footer-logo {
        position: relative;
        width: 70%;
        height: 15%;
        left: 664%;
        top:3%;
    }

    .by {
        left:47%;
    }

    .footer-boton {
        left: 46%;
    }



}