/* global */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* cuerpo del sitio */

body{
    font-family: "Roboto", sans-serif;
    background-color: #a49987;
}

header{
    background-color: #2f2822;
    display: flex;
    align-items: center;
}

header div.top{
    padding: 0px;
}

header div.top i{
    font-size: inherit;
    color:#f19827;
    margin-bottom: 10px;
    display:none;
}

header div.menu{
    font-size: inherit;
    color:#f19827;
    margin-bottom: 10px;
    cursor: pointer;
}

header img.logo-superior{
    width: 10%;
}

header div.buscador{
    color: #2f2822;
}

header div.ingresar,
header div.carro,
header div.submit{
    color: #f19827;
    padding: 6px 15px;
    margin-left: 10px;
    cursor: pointer
}

header div.ingresar:hover,
header div.carro:hover,
header div.menu:hover,
header div.submit:hover{
    color: #ffc962
    
}

header div

header div.buscador{
    font-size: 12px;
}

/* Tablets */
@media (min-width: 481px){
    
}

/* Laptops en adelante */
@media (min-width: 769px){
    header div.input{
        display: flex;
    }
}

/* Computadoras de escritorio */
@media (min-width: 1280px){
    header img.logo-superior{
        width: 5%;
    }

    header div.buscador {
        display: flex;
        align-items: center;
        background-color: #FFF;
        border: 2px solid #000;
        outline: none;
        color: #666;
        border-radius: 7px;
        flex-grow: 0.1;
    }

    header div.submit {
        color: #f19827;
        padding: 6px 15px;
        margin-left: 10px;
    }
    
    header div.top i:hover{
        color:#ffc962;
    }
    
    header div.menu i:hover{
        color:#ffc962;
    }

    header div.submit,
    header div.input,
    header div.menu i,
    header div.top i{
        color:#f19827;
        display:flex;
        padding: 10px;
        cursor: pointer;
    }

}

/*CODIGO CODIGO MARCOS*/


/* CODIGO EUGENIA*/


/*CODIGO CAMILA*/


/*CODIGO MAURO*/