<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bienvenidxs a Nala PetShop</title>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/8a1e4f48aa.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="menu"><i class="fa-solid fa-bars" href="#"></i></div>
        <div class="top fb"><i class="fa-brands fa-facebook-square" href="www.facebook.com"></i></div>
        <div class="top instagram"><i class="fa-brands fa-instagram" href="www.instagram.com"></i></div>
        <a class="qs-contacto qs" href="#">Quienes Somos</a>
        <a class="qs-contacto contacto" href="#">Contacto</a>
        <a href="/"><img class="logo-superior" src="/images/logo.png" alt="Logo Nala"></a>
        <input class="buscador" type="text" placeholder="¿Qué estás buscando?">
        <div class="submit"><i class="fas fa-search"></i></div>
        <div class="ingresar"><a href="/user">Ingresar <i class="fa-solid fa-user" ></a></i></div>
        <div class="carro"><a href="/products/productCart" class="fa-solid fa-cart-shopping" href=""></a></div>
    </header>
    <main>
        <div class="contenedor-accesousuario">
            <section class="ingreso-registro">
                <a href="/user" class="boton-ingreso">
                    <h4>Ingresá</h4>
                </a>
                <a class="boton-registro">
                    <h4>Registrate</h4>
                </a>
            </section>
            <section>
                <form class="formulario-registro" action="#" method="post">
                    <div class="contenedor-registro">
                        <div>
                            <div class="items-registro">
                                <label for="mail">E-MAIL</label>
                                <input type="email" id="emailAddress" name="email" />
                            </div>
                            <div class="items-registro">
                                <label for="password">CONTRASEÑA</label>
                                <input type="password" id="password" name="password" />
                            </div>
                            <div class="items-registro">
                                <label for="password">REPITA LA CONTRASEÑA</label>
                                <input type="password" id="password" name="password" />
                            </div>
                            <div class="items-registro">
                                <label for="dni">DNI</label>
                                <input type="number" id="dni" name="number" />
                            </div>
                            <div class="items-registro">
                                <label for="telephone">TELEFONO</label>
                                <input type="number" id="telephone" name="number" />
                            </div>
                            <div>
                                <input type="checkbox">
                                <label>Acepto los términos y condiciones</label>
                            </div>
                        </div>
                        <div class="boton-submit"><button type="submit">REGISTRARME</button></div>
                    </div>
                </form>
            </section>
        </div>
    </main>
    <footer>
        <div class="footer-div">
            <a class="footer-titulo">Ayuda</a>
            <a class="footer-cuerpo" href="#">Cómo comprar</a>
            <a class="footer-cuerpo" id="terminos" href="#">Términos y condiciones</a>
            <a class="footer-cuerpo" id="privacidad" href="#">Privacidad de datos</a>
            <a class="footer-titulo" id="mi-cuenta">Mi Cuenta</a>
            <a class="footer-cuerpo" id="ingresar" href="/user">Ingresar</a>
            <a class="footer-cuerpo" id="registrarme" href="/user/register">Registrarme</a>
            <a class="footer-titulo" id="contacto">Contacto</a>
            <a class="footer-cuerpo" id="contacto-cuerpo" href="#">Contacto</a>
            <a class="footer-titulo" id="redes">Seguinos en las redes:</a>
        </div>
        <div class="footer-fb"><i class="fa-brands fa-facebook-square" href="www.facebook.com"></i></div>
        <div class="footer-instagram"><i class="fa-brands fa-instagram" href="www.instagram.com"></i></div>
        <div class="footer-brand">
            <a href="/"><img class="footer-logo" src="/images/logo.png" alt="Logo Nala"></a>
            <a class="by">Creado por:</a><a class="footer-boton grupo-seis">GRUPO SEIS</a>
        </div>
    </footer>
</body>

</html>