<%- include('../partials/header.ejs') %>
<main>
    <div class="contenedor-accesousuario">
        <section class="ingreso-registro">
            <a href="/user" class="boton-ingreso">
                <h4>Ingresá</h4>
            </a>
            <a class="boton-registro">
                <h4>Registrate</h4>
            </a>
        </section>
        <section>
            <form class="formulario-registro" action="#" method="post">
                <div class="contenedor-registro">
                    <div>
                        <div class="items-registro">
                            <label for="mail">E-MAIL</label>
                            <input type="email" id="emailAddress" name="email" />
                        </div>
                        <div class="items-registro">
                            <label for="password">CONTRASEÑA</label>
                            <input type="password" id="password" name="password" />
                        </div>
                        <div class="items-registro">
                            <label for="password">REPITA LA CONTRASEÑA</label>
                            <input type="password" id="password" name="password" />
                        </div>
                        <div class="items-registro">
                            <label for="dni">DNI</label>
                            <input type="number" id="dni" name="number" />
                        </div>
                        <div class="items-registro">
                            <label for="telephone">TELEFONO</label>
                            <input type="number" id="telephone" name="number" />
                        </div>
                        <div>
                            <input type="checkbox">
                            <label>Acepto los términos y condiciones</label>
                        </div>
                    </div>
                    <div class="boton-submit"><button type="submit">REGISTRARME</button></div>
                </div>
            </form>
        </section>
    </div>
</main>
<%- include('../partials/footer.ejs') %>