<%- include('../partials/header.ejs') %>
    <main>
        <form class="container-form-product" action="/products" method="POST">
            <div class="form-product">
                <h4>CREAR NUEVO PRODUCTO</h4>
                <div>
					<div class="items-form-product">
						<label for="category">CATEGORÍA DEL PRODUCTO:</label>
						<select name="category" id="category"">
							<option value="">SELECCIONAR</option>
							<option value="gato">GATOS</option>
							<option value="perro">PERROS</option>
						</select>
					</div>
                    <div class="items-form-product">
                        <label for="name">NOMBRE DEL PRODUCTO</label>
                        <input type="text" id="name" name="name" placeholder="Ingrese nombre"/>
                    </div>
                    <div class="items-form-product">
                        <label for="description">DESCRIPCION</label>
                        <input type="text" id="description" name="description" placeholder="Ingrese descripcion"/>
                    </div>
                    <div class="items-form-product">
                        <label for="package">PRESENTACION</label>
                        <input type="number" id="package" name="package" placeholder="Ingrese cantidad de kg"/>
                    </div>
                    <div class="items-form-product">
                        <label for="price">PRECIO</label>
                        <input type="number" id="price" name="price" placeholder="Ingrese precio" />
                    </div>
                    <!--<div class="items-form-product"><label>IMAGEN PRODUCTO:<input type="file" name="image"></label>
                    </div> -->
                </div>
                <div class="boton-submit"><button type="submit">CREAR PRODUCTO</button></div>
            </div>
        </form>
    </main>
<%- include('../partials/footer.ejs') %>