<%- include('../partials/header.ejs') %>
<main>
    <section class="filtros-top">
        <div class="div-perro">
        <a href="#">Perros</a>
        </div>
        <section class="filtros-drop">
        <article class="filtros">
            <div class="dropdown">
                <button onclick="myFunction(this)" class="dropbtn" ><i class="fas fa-sliders-h"></i>  FILTRAR</button>
                <div class="dropdown-content">
                  <a href="#">Perro</a>
                  <a href="#">Gatos</a>
                </div>
              </div> 
        </article>
        <article class="filtros">
            <div class="dropdown">
                <button onclick="myFunction(this)" class="dropbtn"><i class="fas fa-list-ul"></i>  LISTA</button>
                <div class="dropdown-content">
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                </div>
              </div> 
        </article>
        <article class="filtros">
            <div class="dropdown">
                <button onclick="myFunction(this)" class="dropbtn"><i class="fas fa-filter"></i>  DORDENAR</button>
                <div class="dropdown-content">
                  <a href="#"><i class="fas fa-sort-amount-down-alt"></i></a>
                  <a href="#"><i class="fas fa-sort-amount-down"></i></a>
                </div>
              </div> 
        </article>
        </section>
    </section>
    <section class="Perro">
        <h3 class="titulares">Seccion Perros</h3>
        <div class="producto">
            <article>
                <img src="/images/comidaPerro.png" alt="Cafetera" calss="img-producto"width="300px">
                <div class="main-article">
                    <a href="/products/productDetail"><h4 class="Descripcion">Wagui Pollo y Arroz</h4></a>
                    <p class="precio">$6.770</p>
                    <a href="/descriptionCart" data-quantity="1" class="boton-producto" rel="nofollow">Comprar</a>
                </div>
            </article>
            <article>
                <img src="/images/comidaPerro.png" alt="MacBook" calss="img-producto"width="300px">
                <div class="main-article">
                    <a href="/products/productDetail"><h4 class="Descripcion">Wagui Pollo y Arroz</h4></a>
                    <p class="precio">$6.770</p>
                    <a href="/descriptionCart" data-quantity="1" class="boton-producto" rel="nofollow">Comprar</a>
                </div>
            </article>
            <article>
                <img src="/images/comidaPerro.png" alt="Samsung Galaxy S10" calss="img-producto"width="300px">
                <div class="main-article">
                    <a href="/products/productDetail"><h4 class="Descripcion">Wagui Pollo y Arroz</h4></a>
                    <p class="precio">$6.770</p>
                    <a href="/descriptionCart" data-quantity="1" class="boton-producto" rel="nofollow">Comprar</a>
                </div>
            </article>
            <article>
                <img src="/images/comidaPerro.png" alt="SmartTv Samsung 43" calss="img-producto"width="300px">
                <div class="main-article">
                    <a href="/products/productDetail"><h4 class="Descripcion">Wagui Pollo y Arroz</h4></a>
                    <p class="precio">$6.770</p>
                    <a href="/descriptionCart" data-quantity="1" class="boton-producto" rel="nofollow">Comprar</a>
                </div>
            </article>
        </div>
    </section>
    <section class="Gatos">
        <h3 class="titulares">Sección Gatos</h3>
        <div class="producto">
            <article>
                <img src="/images/comidaGato.png" alt="Cafetera" calss="img-producto"width="300px">
                <div class="main-article">
                    <a href="/products/productDetail"><h4 class="Descripcion">Purina Gati</h4></a>
                    <p class="precio">$6.770</p>
                    <a href="/descriptionCart" data-quantity="1" class="boton-producto" rel="nofollow">Comprar</a>
                </div>
            </article>
            <article>
                <img src="/images/comidaGato.png" alt="MacBook" calss="img-producto"width="300px">
                <div class="main-article">
                    <a href="/products/productDetail"><h4 class="Descripcion">Purina Gati</h4></a>
                    <p class="precio">$6.770</p>
                    <a href="/descriptionCart" data-quantity="1" class="boton-producto" rel="nofollow">Comprar</a>
                </div>
            </article>
            <article>
                <img src="/images/comidaGato.png" alt="Samsung Galaxy S10" calss="img-producto"width="300px">
                <div class="main-article">
                    <a href="/products/productDetail"><h4 class="Descripcion">Purina Gati</h4></a>
                    <p class="precio">$6.770</p>
                    <a href="/descriptionCart" data-quantity="1" class="boton-producto" rel="nofollow">Comprar</a>
                </div>
            </article>
            <article>
                <img src="/images/comidaGato.png" alt="SmartTv Samsung 43" calss="img-producto"width="300px">
                <div class="main-article">
                    <a href="/products/productDetail"><h4 class="Descripcion">Purina Gati</h4></a>
                    <p class="precio">$6.770</p>
                    <a href="/descriptionCart" data-quantity="1" class="boton-producto" rel="nofollow">Comprar</a>
                </div>
            </article>
        </div>
    </section>
    
</main>

<%- include('../partials/footer.ejs') %>