<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs') %>
    <script src="/js/carrito.js"></script>
    <link rel="stylesheet" href="/path/to/your/styles.css">
</head>

<body>
    <%- include('../partials/header.ejs') %>
    <main class="main-container-ord">
        <div class="table-container-ord">
            <h2>Productos en mi carrito</h2>
            <div class="table-ord">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 50px;">#</th>
                            <th class="th-lg">Producto</th>
                            <th class="th-lg">Imagen</th>
                            <th class="th-lg">Precio</th>
                            <th class="text-center">Cantidad</th>
                            <th class="text-center">Subtotal</th>
                            <th style="width: 50px;"></th>
                        </tr>
                    </thead>
                    <tbody class="cartRows">
                    </tbody>
                </table>
                <div class="total-container-ord">
                    <br>
                    <h2>Total: <span class="totalAmount">$ 0,00</span></h2>
                </div>
            </div>
        </div>
        <div class="details-container-ord">
            <br>
            <form class="card-body" id="checkoutCart">
                <div>
                    <label for="shippingMethod">Tipo Envío</label>
                    <select class="custom-select" id="shippingMethod" name="shippingMethod" required="">
                        <option value="">Elegir:</option>
                        <option value="Cadete">Cadete</option>
                        <option value="Correo Argentino">Correo Argentino</option>
                        <option value="Andreani">Andreani</option>
                    </select>
                </div>
                <div>
                    <label for="paymentMethod">Método de Pago</label>
                    <select class="custom-select" id="paymentMethod" name="paymentMethod" required="">
                        <option value="">Elegir:</option>
                        <option value="Efectivo">Efectivo</option>
                        <option value="Debito">Tarjeta de Débito</option>
                        <option value="Credito">Tarjeta de Crédito</option>
                        <option value="Transferencia">Transferencia Bancaria</option>
                    </select>
                </div>
                <button class="tarjeta-button" type="submit">¡Comprar Ahora!</button>
            </form>
            
            <div style="margin-top: 10px;"><button class="tarjeta-button" onclick="goBack()">Volver</button></div>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>
    <script src="/js/cart.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const checkoutForm = document.getElementById('checkoutCart');
            checkoutForm.addEventListener('submit', async (event) => {
                event.preventDefault();
    
                const response = await fetch('/api/checkout');
                const data = await response.json();

                if (data.userFound) {
                    checkoutForm.submit();
                } else {
                    window.location.href = '/users';
                }
            });
        });
    
        function goBack() {
            window.history.back();
        }
    </script>
    
    
</body>

</html>